<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<div id="ft">
<div class="container">
<div class="ft">
<p class="logo">
<img src="/images/common/logo_bt.png" alt="I SEOUL U 너와 나의 서울">
</p> //아이콘 새로 구해서 고치기.
<ul class="ft_link cfix">
<li><a href="/privacy/privacy.do">개인정보 처리방침</a></li>
<li><a href="https://www.seoul.go.kr/helper/copyright.do" target="_blank" title="저작권 정책 새창열기">저작권 정책</a></li>
<li><a href="https://www.seoul.go.kr/helper/media.do" target="_blank" title="영상정보처리기기 운영 관리방침 새창열기">영상정보처리기기 운영 관리방침</a></li>
<li><a href="/sitemap/list.do">사이트맵</a></li>
<li><a href="http://org.seoul.go.kr/org/orgChart.do" target="_blank" title="조직도새창열기">조직도</a></li>
</ul>
<p class="ft_info">
서울특별시청 04524 서울특별시 중구 세종대로 110 (<a href="http://www.seoul.go.kr/seoul/map.do" target="_blank" title="찾아오시는길 새창열기">찾아오시는길</a>)
 <span class="pc">ㅣ</span
 ><br class="mobile"> 문의처 : 02-120<br>
Copyright Seoul Metropolitan Government all rights reserved.
</p>
<div class="wa_mark-box ft_wa_mark">
<p class="m-logo"><img src="/images/common/logo_bt.png" alt="I SEOUL U 너와 나의 서울"></p>
<span class="wa-mark">
<a href="http://www.webwatch.or.kr/Situation/WA_Situation.html?MenuCD=110" title="국가 공인 인증기관 : 웹와치" target="_blank">
<img src="/images/common/logo_wa.gif" alt="과학기술정보통신부 WEB ACCESSIBILITY 마크(웹 접근성 품질인증 마크)">
</a></span>
<div>
<span><img src="/images/common/ISMS-P.png" alt="ismsp 정보보호 및 개인정보 보호관리체계 인증"></span>
<p class="txt">
<span>[인증범위]</span> 서울시행정시스템 및 홈페이지 운영<br>
<span>[유효기간]</span> 2020.06.24~2023.06.23
</p>
</div>
</div>
</div>
</div>
</div>
</body>
</html>